
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

main{
    background-color: orange;
    width: 50vw;
    height: 100h;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    
}

div{
    background-color: white;
    border: 2px solid black;
    width: 10vw;
    height: 10vh;
    margin:4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:992px){
    main{
        display: flex;
        flex-direction:column-reverse;
        align-items: center;
    }

    
}